.profile__button-edit {
  background-image: url(../../../images/button-edit.svg);
  background-color: black;
  width: 24px;
  height: 24px;
  align-self: flex-end;
  margin-bottom: 8px;
  border: none;
  padding: 0;
}

@media screen and (max-width: 540px) {
  .profile__button-edit {
    width: 18px;
    height: 18px;
    background-image: url(../../../images/Edit_Button18.svg);
    margin-bottom: 20px;
  }
}

